body {
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(
      circle at 10% 20%,
      rgb(242, 235, 243) 0%,
      rgb(234, 241, 249) 90.1%
    );
  }
  
  h1 {
    color: #38598b;
    display: block;
    font-size: 30px;
    font-weight: 100;
    height: 28px;
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    margin: 0;
    padding: 9;
    text-transform: capitalize;
    color: #878787;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
  }
  
  .App {
    max-width: 600px;
    margin: 200px auto;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .degree {
    font-size: 60px;
  }
  .active{
    text-decoration:none ;
    color: #878787;
    cursor: default;
  }
  .unit {
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
    color:#878787;
  }

  #fahrenheit-link{
    text-decoration: none;
  }
  .weather {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 30px 50px #c5c3c0;
    padding: 40px;
    color: #38598b;
  }
  
  .weather form {
    margin-top: 15px;
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 30px;
  }
  
  .weather .search-input {
    margin-bottom: 10px;
    background: #f9f7fe;
    border: none;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 6px;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    height: 50px;
    line-height: 20px;
  }
 
  .form-control {
    width: 100%;
    font-weight: 400;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn{
    background: #38598b;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 0;
    border: none;
    height: 50px;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }


   .btn-link{
    color: #EC6E4C;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

 
  .code-link{
    text-decoration: none;
  }
  
  .w-100 {
    width: 100%;
  }

.weather-forecast{
  padding-top: 25px;
  text-align: center;
  border-top: 1px solid #f9f7fe;
}
.weather-forecast-date{
  font-size: 16px;
  color: #878787;
  opacity: 0.4;
}
.weather-forecast-temperatures{
  font-size: 13px;
}

.weather-forecast-temperature-min{
  opacity: 0.4;
}